.ILE {
    width: 8%;
    height: 10%;
}
.Top {
    background-color:#7CB9E8;
}
html {
    margin: 0%;
    padding: 0%;
    background-color: aliceblue;
}

.title {
    font-size: 48px;
    text-align: center;
    
}
.nota {
    margin-left: 10%;
    margin-right: 10%;
    
}
.titleNota {
font-size: 40px;
}
.descripcionNota1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    font-size: 20px;
}
.descripcionNota2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 20px;
}
.descripcionNota3 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 20px;
}
.descripcionNota4 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 20px;
}
.descripcionNota5 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 20px;
}
.footerNota {
    margin-left: 3%;
    margin-right: 3%;
}
.img1 {
    width: 30%;
    margin-top: 2%;
    
}
