html {
    /*background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);*/
    width: 100%;
}
head {
    margin: 0%;
}
body {
    margin: 0%;
}
.mathformulas {
    font-weight: bold;
    font-size: 150%;
}
.thirdsemester {
    font-size: 150%;
    margin-top: 1%;
}
.firstpartial {
    font-size: 150%;
    margin-top: 2%;
}
.coordinateplane {
    font-size: 125%;
    margin-top: 1%;
}
.CoordinatePlane {
    margin-bottom: 1%;
}
.distanceA {
    color: blue;
}
.distanceB {
    color: blue;
}
.distanceFormula {
    margin-top: 2%;
    font-size: 125%;
    color: blue;
    margin-left: 10%;
}
* {
    margin: 0%;
}
.result {
    background-color: transparent;
    border-color: black ;
    resize: none;
}
.successorno {
    background-color: transparent;
    border-color: transparent;
    resize: none;
}
#calculate {
    border-color:white;
}
#calculateArea {
    border-color: white;
}
.CalculatorDistance {
    margin-top: 2%;
    margin-bottom: 2%;

}
.perimeterandarea {
    font-size: 125%;

}
.perimeterandareaformula {
    margin-left: 10%;
}
.perimeterandareaformulaimage {
    width: 40%;
}
.perimeterandareaformulaimage2 {
    width: 50%;
}
.perimeterandareaCalculator {
    margin-top: 2%;
}
.perimeterandareaCalculator2 {
    margin-top: 1%;
}
.blue {
    color: blue;
}
.ratiolinesegment {
    margin-top: 2%;
    font-size: 125%;
}
.ratiolinesegmentformula {
    margin-left: 10%;
    margin-top: 2%;
}
.spaced1 {
    margin-left: -11%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.spaced2 {
    margin-left: -11%;
    margin-bottom: 2%;
    margin-top: 2%;
}
#formula {
    font-size: 125%;
}
.linesegmentresult {
    margin-top: .5%;
}
.linesegmentbutton {
    margin-top: .75%;
}
.ratiocoordinate {
    margin-top: 2%;
    font-size: 125%;
}
.ratiocoordinateformula {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.ratiocoordscalcratios {
    margin-top: .5%;
}
.ratiocoordscalcinput2 {
    margin-top: .4%;
}
.ratiocoordcalculatebutton {
    margin-top: .5%;
}
.ratiocoordinatecalc {
    margin-top: 2%;
}